@use "../../../styles/mixins.scss";

.icon-yellow {
    margin-bottom: 7rem;

    @include mixins.md(425px) {
        margin-bottom: 6rem;
    }

    @include mixins.md(320px) {
        width: 5%;
    }
}

.image-spoilers {
    margin-bottom: 12rem;
    width: 755.34px;

    @include mixins.md(800px) {
        width: 650px;
    }

    @include mixins.md(768px) {
        width: 600px;
    }

    @include mixins.md(425px) {
        width: 350px;
        margin-bottom: 11rem;
    }

    @include mixins.md(375px) {
        width: 300px;  
    }

    @include mixins.md(320px) {
        width: 250px;
    }
}

.icon-arrow-down {
    margin-bottom: 8rem;

    @include mixins.md(425px) {
        width: 3rem;
        margin-bottom: 7rem;
    }

    @include mixins.md(375px) {
        width: 2.5rem;   
    }

    @include mixins.md(320px) {
        width: 2rem;
    }
}
