@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#form {
    width: 100%;
    @include mixins.displayFlex(flex, center, center, null);

    .container-form {
        width: 54%;

        @include mixins.displayFlex(flex, center, center, column);
        gap: 2rem;

        padding-block: 8rem;
        margin-bottom: 11rem;
        border-radius: 8rem;

        text-align: center;
        background-color: variables.$bg-box-color;

        @include mixins.md(1024px) {
            width: 60%;
        }

        @include mixins.md(800px) {
            width: 80%;
        }

        @include mixins.md(425px) {
            width: 95%;
            gap: 1.5rem;

            padding-block: 4rem;
            margin-bottom: 10rem;
        }

        @include mixins.md(320px) {
            padding-block: 3rem;
        }

        h2 {
            max-width: 35rem;
            margin-bottom: 2rem;
            line-height: 2.8rem;
            font-size: variables.$font-size-18;

            color: variables.$color-white;
            text-transform: uppercase;

            @include mixins.md(768px) {
                font-size: 1.7rem;
            }

            @include mixins.md(425px) {
                max-width: 30rem;
                font-size: 1.3rem;
                line-height: 2rem;
                margin-bottom: 0;
            }

            @include mixins.md(375px) {
                font-size: 1.2rem;
            }

            @include mixins.md(320px) {
                font-size: 1rem;
                max-width: 21rem;
            }
        }

        .design-input {
            width: 80%;
            height: 7rem;

            padding-inline: 2.5rem;
            border-radius: 4rem;
            border: 0.1rem solid variables.$color-white;
            font-size: variables.$font-size-14;

            color: variables.$color-white;
            outline: none;
            background-color: transparent;
            transition: 0.3s;

            @include mixins.md(768px) {
                height: 6.5rem;
            }

            @include mixins.md(425px) {
                height: 5rem;

                font-size: 1.3rem;
            }

            @include mixins.md(375px) {
                font-size: 1.2rem;
            }

            @include mixins.md(320px) {
                height: 4.5rem;
                font-size: 1rem;
            }

            &::placeholder {
                color: variables.$color-white;
                font-weight: bold;
            }

            &:focus {
                &::placeholder {
                    color: variables.$secondary-color;
                    font-weight: bold;
                }

                border: 1px solid variables.$secondary-color;
                color: variables.$secondary-color;
                font-weight: bold;
            }
        }

        .container-checkbox {
            width: 80%;
            @include mixins.displayFlex(flex, null, center, null);

            @include mixins.md(425px) {
                width: 80%;
            }

            .checkbox {
                input {
                    display: none;

                    & + label {
                        &::before {
                            content: "";
                            width: 20px;
                            height: 20px;

                            display: inline-block;

                            border-radius: 50%;
                            margin-right: 0.5rem;
                            margin-bottom: 2px;
                            border: 1px solid variables.$color-white;

                            cursor: pointer;
                            background-color: transparent;
                            vertical-align: middle;

                            @include mixins.md(425px) {
                                width: 15px;
                                height: 15px;
                                margin-bottom: 3px;
                            }

                            @include mixins.md(320px) {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }

                    &:checked + label::before {
                        background-image: url("../../assets/images/bola.png");
                        background-position: center;
                        background-size: 50%;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                    }
                }
            }

            label {
                font-size: variables.$font-size-12;
                color: variables.$color-white;
                font-weight: bold;

                @include mixins.md(425px) {
                    font-size: 1rem;
                }

                @include mixins.md(320px) {
                    font-size: 0.9rem;
                }
            }
        }

        button {
            width: 80%;
            height: 7rem;
            margin-top: 1.5rem;

            font-size: variables.$font-size-24;
            border-radius: 4rem;
            box-shadow: 0.2rem 0.4rem 0 variables.$secondary-color;

            cursor: pointer;
            text-transform: uppercase;
            color: variables.$bg-box-color;
            outline: none;
            border: none;
            font-weight: bold;
            transition: 0.3s;

            @include mixins.md(768px) {
                height: 6.5rem;

                font-size: 2.2rem;
            }

            @include mixins.md(425px) {
                height: 5rem;

                margin-top: 1rem;
                font-size: 1.8rem;
            }

            @include mixins.md(375px) {
                font-size: 1.6rem;
            }

            @include mixins.md(320px) {
                height: 4.5rem;
                font-size: 1.4rem;
            }
        }
    }
}
