@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container-arrow {
    @include mixins.displayFlex(flex, center, center, null);

    width: 3.8rem;
    height: 3.5rem;
    margin-top: 3rem;

    box-shadow: 0.2rem 0.2rem 0 variables.$secondary-color;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    @include mixins.md(425px) {
        width: 3rem;
        height: 2.5rem;
    }

    svg {
        width: 1rem;

        path {
            fill: variables.$bg-box-color;
        }
    }
}
