@use "./reset.scss";
@use "./variables.scss";
@use "./mixins.scss";

.container-general {
    width: 100%;

    background-image: url("../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .wrapper {
        @include mixins.displayFlex(flex, center, center, column);

        width: 100%;
        max-width: 98rem;
        margin: 0 auto;

        padding-top: 5rem;

        // background-color: red;

        .header {
            width: 100%;
            text-align: center;
            
            .brand {
                width: 20%;
                padding-bottom: 5rem;
            }
        }

        .quero-fazer-parte {
            margin-bottom: 6rem;
        }

        .icon-yelloww {
            margin-bottom: 7rem;
        }
    }
}
