//Font;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$font-family: "Montserrat", sans-serif;

$font-size-36: 3.6rem;
$font-size-24: 2.4rem;
$font-size-18: 1.8rem;
$font-size-14: 1.4rem;
$font-size-12: 1.2rem;
$font-size-10: 1rem;

//Colors;
$primary-color: #280031;
$bg-box-color: #26093a;
$secondary-color: #fc2bee;
$terciary-color: #8f0dff;
$color-white: #fff;
