@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#container-geral {
    width: 100%;

    @include mixins.displayFlex(flex, center, center, column);

    border-radius: 8rem;
    margin-bottom: 8rem;

    background-color: variables.$bg-box-color;

    .component-title {
        font-size: variables.$font-size-36;

        padding-top: 7rem;
        margin-bottom: 6rem;

        color: variables.$bg-box-color;
        text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
            1px 0px 0px #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .card-title {
        font-size: variables.$font-size-14;
        margin-bottom: 1.5rem;

        color: variables.$color-white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .container-image-out {
        width: 100%;

        @include mixins.displayFlex(flex, center, center, column);
        position: relative;

        .image-carousel {
            width: 100%;
            max-width: 85rem;
            border-radius: 4rem;

            box-shadow: 0 0 0.1rem variables.$terciary-color;
            cursor: pointer;
        }

        .container-share-hover {
            width: 100%;
            max-width: 85rem;

            visibility: hidden;
            opacity: 0;
            font-size: variables.$font-size-12;
            border-radius: 0 0 3.84rem 3.84rem;
            position: absolute;
            bottom: 0;

            font-weight: bold;
            color: variables.$color-white;
            transition: opacity 0.3s;
            background-color: #000;

            .container {
                height: 7rem;
                line-height: 0;

                @include mixins.displayFlex(flex, center, center, null);
                gap: 1rem;
            }
        }

        &:hover .container-share-hover {
            visibility: visible;
            opacity: 90%;
        }
    }

    .container-carousel {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 6rem;

        @include mixins.displayFlex(flex, null, center, column);

        .carousel-title {
            margin-bottom: 1.5rem;

            text-transform: uppercase;
            color: variables.$color-white;
            font-weight: bold;
        }

        .carousel-cards {
            width: 100%;

            @include mixins.displayFlex(flex, center, center, null);
            gap: 2rem;

            padding-inline: 3rem;

            //Pagination;
            .cVXxbE {
                @include mixins.pagination(1rem, 1rem, 0.5rem, 50%, none, all 250ms ease, #fff, null);
            }

            .ezKHIn {
                @include mixins.pagination(1rem, 1rem, 0.5rem, 50%, none, all 250ms ease, #fff, 30%);
            }
        }
    }
}
