@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#container-footer {
    margin-bottom: 12rem;

    text-align: center;
    color: variables.$color-white;

    @include mixins.md(425px) {
        margin-bottom: 10rem;
    }

    h3 {
        font-size: variables.$font-size-18;
        margin-bottom: 1rem;

        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: variables.$font-size-10;

        @include mixins.md(425px) {
            max-width: 380px;
            // font-size: 0.9rem;       
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
