@use "../../styles/variables.scss";

#container-footer {
    margin-bottom: 12rem;

    text-align: center;
    color: variables.$color-white;

    h3 {
        font-size: variables.$font-size-18;
        margin-bottom: 1rem;

        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: variables.$font-size-10;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
