@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#container-footer {
    margin-bottom: 12rem;

    text-align: center;
    color: variables.$color-white;

    @include mixins.md(425px) {
        margin-bottom: 10rem;
    }

    h3 {
        font-size: variables.$font-size-18;
        margin-bottom: 1rem;

        font-weight: bold;
        text-transform: uppercase;

        @include mixins.md(375px) {
            font-size: 1.5rem;
        }

        @include mixins.md(320px) {
            font-size: 1.3rem;
        }
    }

    p {
        font-size: variables.$font-size-10;
        font-weight: bold;

        @include mixins.md(800px) {
            max-width: 700px;
        }

        @include mixins.md(425px) {
            max-width: 380px;
        }

        @include mixins.md(375px) {
            max-width: 320px;
            font-size: 0.9rem;
        }
        @include mixins.md(320px) {
            max-width: 250px;
            font-size: 0.8rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
