@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#main-content {
    width: 100%;

    background-image: url("../../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .wrapper {
        @include mixins.displayFlex(flex, center, center, column);

        width: 100%;
        max-width: 98rem;
        margin: 0 auto;

        padding-top: 8rem;

        @include mixins.md(1024px) {
            width: 95%;
        }

        @include mixins.md(768px) {
            padding-top: 7rem;
        }

        @include mixins.md(425px) {
            padding-top: 6rem;
        }

        .quero-fazer-parte {
            margin-bottom: 8rem;

            @include mixins.md(800px) {
                width: 80%;
            }

            @include mixins.md(425px) {
                margin-bottom: 7rem;
            }
        }

        .icon-yelloww {
            margin-bottom: 8rem;

            @include mixins.md(425px) {
                margin-bottom: 7rem;
            }

            @include mixins.md(320px) {
                width: 5%;
            }
        }
    }
}
